logger:
  level: "info"
storage: "memory"
app:
  scheduler:
    period: 60s
    queue: "calendar_events"
db:
  dsn: "<paste your dsn>"
  migrationsDir: "./migrations/"
httpServer:
  host: "localhost"
  port: 4242
  readTimeout: 1s
  writeTimeout: 1s
grpcServer:
  host: "localhost"
  port: 4042
  connectTimeout: 1s
rabbitServer:
  host: "localhost"
  port: "5672"
  login: "<password>"
  password: "<password>"