logger:
  level: "info"
storage: "memory"
db:
  dsn: "<paste your dsn>"
  migrationsDir: "./migrations/"
server:
  host: "localhost"
  port: 4242
  readTimeout: 1s
  writeTimeout: 1s
grpcServer:
  host: "localhost"
  port: 4042
  connectTimeout: 1s